{% extends 'base.html' %}


{% block content %}

<div class="container">
    <!-- Header section-->
    <header class="row">
       <div class="col-md-6" id="header-text">
            <h2>Let's Make Everyone Laugh!</h2>
            <h5>Create an Amazing Repository of Jokes!</h5>
        
            <div>
                <button class="btn btn primary">View some Jokes</button>
                <button class="btn btn primary">Get on our mailing list</button>
            </div>
        </div>
            <!-- header image -->
            <div class="col-md-6">
                <img src="../../static/images/dad_joke_cards.webp" alt="Hero Header Image" class="header-image">
            </div>
    </header>
        <!-- end of header-->
        <!-- middle section-->
    <section class="row">
        <div class="col-12" id="middle-tx">
            <h2>List Your Jokes</h2>
            <p>You can use the powers of this API to learn even more Jokes! </p>
        </div>
    </section>
    <!-- end of middle -->

    <!-- features section-->

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
           <img src="../../static/images/dadjkbook.png" alt="Dad J Book" id="dadjbook-image">
           <h4>Deticated Jokes Baby!</h4>
           <p>If you are into traditional jokes we can help you to.</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/dadlaugh.png" alt="Dad Laugh" id="dadlaugh-image">
            <h4>Make your Dad Friends LAUGH OUT LOUD</h4>
            <p>It might just hurt a bit</p>
         </div>
         <div class="col-12 col-md-4">
            <img src="../../static/images/dad laugh2.png" alt="Dad Laugh2" id="dadlaugh2-image">
            <h4>Try not to bust a seam!</h4>
            <p>You will have access to all the jokes</p>
         </div>
    </section>
    <!-- end of features -->

    <!-- community section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/dsdarmscrosed.jpeg" alt="dad crossed Arm" id="dsdarmscrosed-imagr">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with other Dads who also have Jokes</h4>
            <p>
                Talk to other Dads from around the World and get joke that will mortify tons more kids.
            </p>
            <div>
                <button class="btn btn-primary">View Lots O Laughs</button>
                <button class="btn btn-primary">Join Our Mailer List</button>
            </div>

        </div>
        
    </section>
    <!-- end community -->
    <!-- footer -->
    <footer class="row" id="footer">
        <div class="col-12 ">
            <img src="../../static/images/dadlogo.png" alt="dad logo" id="dadlogo-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>What about Dads</p>
                <p>Everybody needs to Laugh</p>
                <p>Donate for D.W.N.H. "(Dads With No Humor)"</p>
                <p>See a Dad make a dad laugh</p>
                <p>What We are really about</p>
            </div>
            
        
            
        </div>              
        
    </footer>
</div>

{% endblock content %}